*.user
*.suo
XmlAstGen/bin/Debug/GOLD Engine.dll
XmlAstGen/bin/Debug/XmlAstGen.exe
XmlAstGen/bin/Debug/XmlAstGen.exe.config
XmlAstGen/obj/Debug/XmlAstGen.pdb
XmlAstGen/obj/Debug/XmlAstGen.exe
XmlAstGen/obj/Debug/XmlAstGen.csprojResolveAssemblyReference.cache
XmlAstGen/obj/Debug/XmlAstGen.csproj.FileListAbsolute.txt
XmlAstGen/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
XmlAstGen/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
XmlAstGen/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
XmlAstGen/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
XmlAstGen/bin/Debug/rvm.ast.xml
XmlAstGen/bin/Debug/XmlAstGen.vshost.exe.manifest
XmlAstGen/bin/Debug/XmlAstGen.vshost.exe.config
XmlAstGen/bin/Debug/XmlAstGen.vshost.exe
XmlAstGen/bin/Debug/XmlAstGen.pdb