
* {
    margin: 0px;
    padding: 0px;
	border: 0px;
}

/*
body {
	background-image: url("images/background.png");
	background-repeat: repeat;
}
*/

h1 {
	font: 20px Arial;
	line-height: 48px;
	color: #FF9900;
}

p, code {
	margin: 24px 0px 24px 0px;
}

p, li, a {
	font: 12px Verdana;
	line-height: 24px;
}

a {
	color: black;
}

a.topnavi {
	border-bottom: 2px solid black;
	text-decoration: none;
}

a.topnavi.inside {
	border-bottom: 2px solid orange;
}

ul, ol {
	margin: 24px 0px 24px 72px;
}

#logo {
	line-height: 96px;
	text-decoration: none;
	margin: 0px 48px 0px 0px;
}
#logo img {
	border: 0px;
	margin: 19px 0px -19px 0px;
}

#header a.topnavi {
	margin: 24px 12px 24px 12px;
	font: 12px Verdana;
	line-height: 24px;
	font-weight: bold;
}

#navigation {
	float: left;
	margin: 168px 24px 0px 24px;
	width: 240px;
}

#content {
	max-width:720px;
}

#navigation, #content {
    display: table-cell;
}

#navigation a {
	display: block;
}

#navigation ul, ol {
	margin: 0px 0px 0px 24px;
}

a.lhandnavi.selected {
	font-weight: bold;
	color: darkorange;
}

code {
	padding: 11px;
	border: 1px solid gray;
	background: white;
	font: 12px Monospace;
	line-height: 16px;
	display: block;
}